<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen1.jpeg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen2.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen3.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen4.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen1.jpeg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen2.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen3.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen4.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen1.jpeg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen2.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen3.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
        <img style="width: -webkit-fill-available;     height: -webkit-fill-available;"
            src="assets/Galeria/imagen4.jpg">
    </mat-grid-tile>
</mat-grid-list>